* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}


#cursor{
  height: 20px;
  width: 20px;
  background-color: rgb(255, 243, 109);
  border-radius: 50%;
  position: fixed;
}